body {
    background-color: rgb(104, 104, 104) ;
}

.service_head {
    background-image: url("../Resources/Images/funeral/leaves.jpg");
    background-size: cover;
}

.service {
    color: rgb(155, 155, 155);
}

.services {
    background-color: rgba(255, 255, 255, 0.308);
}
.services h1 {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.479);
    padding: 10px;
    color: rgb(238, 238, 238);
}
.box {
    background-color: rgb(199, 199, 199);
}

.box p , h2{
    color: black;
}