
.nav{
    padding: 50px;
    margin: 0;
    font-size: 25px;
    color: aliceblue;
    background-color: rgb(10, 50, 85);
  }
.all {
    display: flex;
    justify-content: space-around;
    width: 80%;
    max-width: 1200px;
}

.more {
    text-align: center;
    width: 900px;
    height: 510px;
    padding: 30px;
    margin: 100px;
    border: 1px solid #4a4747;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(244, 242, 242, 0.1);
   
   
}
.submit{
    background-color: rgb(10, 50, 85);
    color: aliceblue;
    
}
